
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    height: 100%;
}
/*
.background {
    background: linear-gradient(135deg, #ff9aa2, #ffb7b2, #ffdac1, #e2f0cb, #b5ead7);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

*/
.login-box{
    position: relative;
    z-index:2;
}
.background {
    background: linear-gradient(135deg, #ff9aa2, #ffb7b2, #ffdac1, #e2f0cb, #b5ead7);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    overflow: hidden;
}


.login-box {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
}
.login-box input, .login-box select, .login-box button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.login-box button {
    background-color: #ff4d6d;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.background::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: radial-gradient(circle, rgba(255,255,255,0.18) 1px, transparent 1px);
    background-size: 22px 22px;

    opacity: 0.35;
    pointer-events: none;
}
